* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  font-family: 'Lato', sans-serif;
}

header {
  width: 100%;
  height: auto;
  margin-bottom: 5px;
}

.block {
  padding: 25px;
  width: 100%;
  height: auto;
}

.parent {
  display: -ms-grid;
  display: grid;
  height: auto;
  -ms-grid-columns: 0.4fr 1fr;
      grid-template-columns: 0.4fr 1fr;
  -ms-grid-rows: (1fr);
      grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.parent > div {
  border: .5px solid rosybrown;
}

.div1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
}

.div2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
}

.div3 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 3 / 2;
}

.div4 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
}

.div5 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 3 / 1 / 4 / 2;
}

.div6 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3 / 2 / 4 / 3;
}

.div7 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 4 / 1 / 5 / 2;
}

.div8 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 4 / 2 / 5 / 3;
}

.div9 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 5 / 1 / 6 / 2;
}

.div10 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 5 / 2 / 6 / 3;
}

.div11 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 6 / 1 / 7 / 2;
}

.div12 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 6 / 2 / 7 / 3;
}

.div13 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 7 / 1 / 8 / 2;
}

.div14 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 7 / 2 / 8 / 3;
}

.contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-info_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-info_img > img {
  width: 135px;
  height: 205px;
}

.contact-info_text > h1 {
  color: #066685;
}

.title {
  color: #0c485b;
  background: repeating-linear-gradient(-60deg, #555 0, #555 0.1px, transparent 0.3px, transparent 8px);
}

.team__item {
  max-width: 400px !important;
  border-radius: 50px;
  padding: 50px !important;
  text-align: center;
}

.team__item:hover {
  -webkit-box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.15);
  -webkit-animation: bounce 1s;
          animation: bounce 1s;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@-webkit-keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    transform: translateY(-20px);
  }
  80% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    transform: translateY(-20px);
  }
  80% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

/* Team links*/
.team__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.svg {
  width: 25px;
}

.svg:hover {
  background-color: #F25822;
  border: 1px solid #F25822;
  border-radius: 50px;
}

.team__item-img > img {
  width: 200px;
  height: 215px;
  border-radius: 50%;
}

.contact-info_mobile {
  display: none;
}

@media screen and (max-width: 767px) {
  .contact-info_text {
    display: none;
  }
  .contact-info_img {
    display: none;
  }
  .contact-info_mobile {
    display: block;
    text-align: center;
  }
  .team__item {
    margin-right: auto;
    margin-left: auto;
  }
}

.title {
  font-size: 15px;
}
